.loader {
  margin: auto;
  border: 4px solid #ebebeb;
  border-top: 4px solid #F06D4D;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  animation: spinner 4s linear;
}

@keyframes spinner {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(365deg);}
}