$primary-color: #64ff00;

$darker-gray: #202020;
$medium-gray: #242424;
$light-gray: #262626;
 
$darker-white: #ebebeb;
$medium-white: #f5f5f5;
$light-white: #fafafa;

$darker-primary: #E5684A;
$medium-primary: #F06D4D;
$light-primary: #FF7452;



:export {
  primaryColor: $primary-color;
}