$randomNumber: random(5);

.skeleton {
  animation: bgfloater ease alternate infinite;
  animation-duration: $randomNumber + s;
  -webkit-box-shadow: 0 0 8px #00000065;
            box-shadow: 0 0 8px #00000065;
}

@keyframes bgfloater {
  0% {background-position: -800px 0 ;}
  100% {background-position: 800px 0 ;}
}