@import '/app/styles/variables.module.scss';

#userInfo {
  -webkit-box-shadow: 0 0 8px #00000065;
  box-shadow: 0 0 8px #00000065;
}

.underScore {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    height: 4px;
    background-color: $medium-primary;
    border-radius: 10px;
  }
}

.underScore:hover {
  div {
    width: 100%;
    animation-name: expandUnderscore;
    animation-duration: 0.5s;
  }
}

.selectedPosts{
    width: 100%;
}

@keyframes expandUnderscore {
  0% {width: 120px;}
  60% {width: 90%;}
  100% {width: 100%;}
}
